<div class="account-info-container container">
  <h2 class="account-info-title page-title">My account</h2>
  <%= link_to 'Edit account details', edit_user_path(@user), class: "button button-edit" %>
  <div class="account-info-content">
    <div class="account-info-content__entry">
      <div class="entry__header">Username</div>
      <div class="entry__data"><%= @user.username %></div>
    </div>
    <div class="account-info-content__entry">
      <div class="entry__header">Registered email</div>
      <div class="entry__data"><%= @user.email %></div>
    </div>
    <div>
      <div class="account-info-content__entry">
        <div class="entry__header">My dogs</div>
        <%= link_to 'Add dog', new_user_dog_path(@user), class: "button button-add" %>
      </div>
      <div class="display-panel">
        <% @user.dogs.each do | dog | %>
          <%= render 'dogs/tile', dog: dog %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Go to dashboard', dashboard_path, class: "button button-edit" %>
</div>
