<nav class="nav-bar">
  <% if session[:user_id] %>
    <h2 class="nav-bar__logo"><%= link_to "Meet Pup", dashboard_path %></h2>
    <div class="nav-bar__item"><%= link_to "Dashboard", dashboard_path %></div>
    <div class="nav-bar__item"><%= link_to "My account", action: :show, controller: 'users' %></div>
    <div class="nav-bar__item"><%= link_to "Log out", logout_path %></div>
  <% end %>

  <% unless session[:user_id] %>
    <h2 class="nav-bar__logo"><%= link_to "Meet Pup", root_path %></h2>
    <div class="nav-bar__item"><%= link_to "Log in", root_path %></div>
    <div class="nav-bar__item"><%= link_to "Sign up", signup_path %></div>
  <% end %>

</nav>
